.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffffcf;
}
.loader img{
    position: relative;
    left: 40%;
    top: 40%;
}