.scrollbar {
    background-color: #808080;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-x:scroll;
    overflow-y:scroll;
}

.body{
    overflow-x:scroll;
    overflow-y:scroll;

}

.force-overflow {
    min-height: 450px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 

#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
}


#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    box-shadow: #808080
} 

