.scrollbar {
    background-color: #808080;
    float: left;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

/* .scrollstuff {
    overflow-x: scroll;
    overflow-y: scroll;

} */

/* .force-overflow {
    /* min-height: 450px; */
    
*/

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

/* .scrollbar {
    height: 100px;
    width: 400px;
    border: solid 2px orange;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
} */